{% extends "layout/basic.html" %}

{% block body %}
    <div class="left-panel">
        <div class="theme-list">
            <a href="/tasks" class="theme-item">All</a>
            {% for theme in themes %}
                <a href="/tasks/theme_{{theme.pk}}" class="theme-item">{{ theme.name }}</a>
            {% endfor %}
        </div>
        <a class="add-button">Edit themes</a>
    </div>

    <!-- Список задач -->
    <div class="tasks">
        <div class="task-list">
            {% if tasks %}
                {% for task in tasks %}
                    <a href="{% url 'tasks:edit_task' pk=task.pk %}" class="task-item">
                        <div class="task-text">{{ task.title }}</div>
                        <div class="tasks-bottom-line">
                            <div class="task-date">{{ task.creation_time }}</div>
                            {% if task.theme is not None %}
                                <div class="task-theme">{{ task.theme }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="task-item">
                    <div class="task-text">No tasks</div>
                </div>
            {% endif %}
        </div>
        <a href="{% url 'tasks:new_task' %}" class="add-button">+ Task</a>
    </div>
{% endblock %}
