{% extends "layout/basic.html" %}
{% load static %}

{% block body %}
    <div class="left-panel">
        <h2 class="tasks-header">Themes</h2>
        <div class="theme-list">
            <a href="{% url 'tasks:index' %}" class="theme-item" id="All"><span>All</span><span>{{ tasks_count }}</span></a>
            {% for theme in themes %}
                <a href="{% url 'tasks:tasks_with_concrete_theme' pk=theme.pk %}" class="theme-item" id="{{theme.name}}"
                   data-delete-url="{% url 'tasks:delete_theme' pk=theme.pk %}"
                   oncontextmenu="showTaskMenu(this, event)">
                    <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ theme.name }}</span><span>{{ theme.task_count }}</span>
                </a>
            {% endfor %}
        </div>
        <a class="add-button" href="{% url 'tasks:new_theme' %}">+ Theme</a>
    </div>

    <!-- Список задач -->
    <div class="tasks">
        <h2 class="tasks-header"><span id="theme">{{ theme }}</span></h2>
        <script src="{% static 'tasks/mark_current_theme.js' %}"></script>
        <div class="task-list">
            {% if tasks %}
                {% for task in tasks %}
                    <a href="{% url 'tasks:edit_task' pk=task.pk %}" class="task-item" id="actionBtn"
                                data-edit-url="{% url 'tasks:edit_task' pk=task.pk %}"
                                data-complete-url="{% url 'tasks:complete_task' pk=task.pk %}"
                                data-delete-url="{% url 'tasks:delete_task' pk=task.pk %}"
                                oncontextmenu="showTaskMenu(this, event)">
                        <div class="task-text">{{ task.title }}</div>
                        <div class="tasks-bottom-line">
                        <div class="task-date">{{ task.creation_time }}</div>
                        {% if task.theme is not None %}
                            <div class="task-theme">{{ task.theme }}</div>
                        {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="task-item">
                    <div class="task-text">No tasks</div>
                </div>
            {% endif %}
        </div>
        <a class="add-button" href="#" onclick="
            const theme = document.getElementById('theme').innerHTML;
            window.location.href = '{% url 'tasks:new_task' %}?theme=' + encodeURIComponent(theme);
            return false;
        ">+ Task</a>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="{% static 'tasks/task_context_menu.js' %}"></script>
{% endblock %}
