{% extends 'layout/basic.html' %}

{% block body %}
    <div class="themes">
        <div class="task-list">
            {% if themes %}
                {% for theme in themes %}
                <a href="{% url 'tasks:delete_theme' pk=theme.pk %}" class="task-item">
                    <div class="task-text">{{ theme.name }}</div>
                </a>
                {% endfor %}
            {% else %}
                <div class="task-item">
                    <div class="task-text">No themes</div>
                </div>
            {% endif %}
        </div>
        <a href="{% url 'tasks:new_theme' %}" class="add-button">+ Theme</a>
        <a href="{% url 'tasks:index' %}" class="add-button" style="margin-top: 10pt;">Back</a>
    </div>
{% endblock %}