{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}ToDo</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav">
        <div class="app-title">
            {% block todo_prefix %}{% endblock %}ToDo
        </div>
        <div class="nav-buttons">
            <button class="nav-button" id="periodic">Periodic</button>
            <button class="nav-button" id="completed">Completed</button>
            <button class="nav-button" id="main">Main</button>
            <button class="nav-button" id="settings">Settings</button>
            <script src="{% static 'tasks/mark_current_page_name.js' %}"></script>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>
