{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}ToDo</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav">
        <div class="app-title">
            {% block todo_prefix %}{% endblock %}ToDo
        </div>
        <div class="nav-buttons">
            <a class="nav-button" id="periodic" href="{% url 'tasks:periodic' %}">Periodic</a>
            <a class="nav-button" id="completed" href="{% url 'tasks:completed_tasks' %}">Completed</a>
            <a class="nav-button" id="main" href="{% url 'tasks:index' %}">Main</a>
            <a class="nav-button" id="settings" href="{% url 'tasks:settings' %}">Settings</a>
            <script src="{% static 'tasks/mark_current_page_name.js' %}"></script>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>
